.label {
  display: flex;
  font-size: 19px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox {
  margin: 0px 10px;
  appearance: none;
  width: 60px;
  height: 34px;
  cursor: pointer;
}
.on {
  background-size: 60px;
  background-image: url(../../on.png);
}

.off {
  background-size: 60px;
  background-image: url(../../off.png);
}

.input {
  padding: 5px;
  margin-right: 10px;
}

.btn {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #dedede;
  cursor: pointer;

  &:hover {
    border: 1px solid black;
  }

  &:active {
    border: 1px;
    background-color: #dedede;
  }
}
